# [ip] [nickname] [alg, ...] 
# alg format: {protocol}-{name}-{k=v,...}
54.183.192.26 california tcp-ccp-alg=nimbus
# 54.183.192.26 california tcp-cubic udp-remy=140-160.dna.5=8 udp-remy=bigbertha-100x.dna.5=1 tcp-vegas tcp-reno
# 35.176.36.156 london tcp-cubic udp-remy=140-160.dna.5=8 udp-remy=bigbertha-100x.dna.5=1 tcp-vegas tcp-reno
# 54.179.168.237 singapore tcp-cubic udp-remy=140-160.dna.5=8 udp-remy=bigbertha-100x.dna.5=1 tcp-vegas tcp-reno
